<div class="top position-relative">
<!--     <img  src="../../assets/who.jpg" alt="Image"> 
 -->    <div class="carousel-content position-absolute animate__animated animate__fadeIn">
        <h2 data-aos="zoom-in">من نحن</h2>
        <div class="yellowline" style="border: 3px solid red; width: 100px; margin: auto; margin-top:10px;"></div>
    </div>
</div>
<div class="line-with-text mx-5  pt-5" data-aos="fade-left">
    <div class="line" style="background-color: #c0392b"></div>
    <div class="fw-bold text h4"> الشركة الإيطالية الكويتية للتجارة بالجملة والتجزئة</div>
    <div class="line" style="background-color: #c0392b"></div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12  col-lg-6">
            <div data-aos="fade-up" class=" h5 my-5 m-auto lh-lg">
                نفتخر في مؤسسه الكويتيه الخليجيه للمقاولت الكهربائيه الرائدة فى مجالات المقاولات الكهربائية والتى تتضمن بيع وتوزيع 
المنتجات الكهربائية وتم اعتمادها كموزع حصري داخل قطاع الجمعيات التعاونية ووكيل لمنتجات )-NOVEX-KHALEEGIA 
ADMORE -ROSKA )وهي عبارة عن قواطع التيار الكهربائي وألواح التوزيع الكهربائي والمفاتيح والمقبض واللمبات وتجهيزات 
الإضاءة. بوجود طموح يتنامى باستمرار لتحقيق إنجازات نوعية وتلبية احتياجات السوق الكويتى . استطاعت الشركة بفضل الله 
وبمجهودات وخبرات فريق العمل لدينا من ترسيخ اسمنا في السوق الكويتي وحققنا التميز التي طمحنا له منذ اليوم الأول وعملنا على تحقيقه من خلال أهداف واضحة سعينا إليها باستراتيجيات مدروسة فكان النجاح حليفنا على طول الطريق .
            </div>
        </div>
        <div class="col-12  col-lg-6">
            <img class="w-100 border border-3 mt-5 who" src="../../assets/who_us.jpeg" alt="" style="height: 70vh;">
        </div>
    </div>
</div>

<div class="line-with-text m-5  pt-5" data-aos="fade-left">
    <div class="line" style="background-color: #c0392b"></div>
    <div class="fw-bold text h4"> رسالة الشركة </div>
    <div class="line" style="background-color: #c0392b"></div>
</div>

<div class="container">
    <div class="row about-cols ">
        <div class="col-md-4  " data-aos="fade-up">
            <div class="about-col">
                <div class="img">
                    <img src="../../assets/6012579058052876243.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="fa-solid fa-jet-fighter-up"></i></div>
                </div>
                <h2 class="title">أهدافنــا</h2>
                <p class="lh-lg p-3 text-center">
                    نحرص بأستمرار على اعتبار العميل شريك حقيقا في النجاح، وليس مجرد مستفيد من خدماتنا. في شركة هامات المتحدة للتجارة ، نفتخر بفريق عمل مميز يتمتع بالخبرة والتدريب على أعلى مستوى، مما سمح لنا بتحقيق نجاح ملحوظ بشهادة جميع 
عملائنا وحزنا على ثقة العديد من الشركات الخاصة والمصالح والهيئات الحكومية الكبرى.
                </p>

            </div>
        </div>
        <div class="col-md-4 " data-aos="fade-up">
            <div class="about-col">
                <div class="img">
                    <img src="../../assets/6014990759498991574.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="fa-solid fa-list"></i></div>
                </div>
                <h2 class="title">قيـمـــنـــا</h2>
                <p class="lh-lg p-3 text-center">
                    نؤمن في مؤسسه الكويتيه الخليجيه للمقاولت الكهربائيه أَّن النجاح – إلى جانب كونه مصدر فخر لنا – فهو مسؤولية نأخذها على عاتقنا بكل عزم وجديه لنكون شريكا حقيقا في بناء مستقبل مملكتنا 
                    . بناًء عليه، فنحن ملتزمون بقيمنا التي كانت عامل اساسيا في نجاحنا في المقام الأول وحددت  
                    مسار أعمالنا وتعاملاتنا وتتمثل أهم مسؤولياتنا في الحفاظ على هذه القيم في كل خطوة. نولي أهمية كبيرة للجودة، والشفافية، والابتكار، 
                    والاحترافية. وتتمثل أهم قيمنا في التالي:
                    الجودة هي معيارنا ونهجنا الاول التعاون والعمل الجماعي النزاهة والمسؤلية أالأمان والسلامة العميل أولوية جوهرية          </p>
                    
            </div>
        </div>
        <div class="col-md-4 " data-aos="fade-up">
            <div class="about-col">
                <div class="img">
                    <img src="../../assets/6012579058052876241.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="fa-regular fa-eye"></i></div>
                </div>
                <h2 class="title ">رؤيتنا</h2>
                <p class="lh-lg p-3 text-center">
                    الانتقال بسوق المقاولات الكهربائية الكويتي إلى مستوى آخر لتلبية كافة 
                    احتياجاته بأعلى جودة مع مراعاة المعايير العالمية.و من أجل ما سبق تسعى 
                    الشركة لاتحاذ وكالة سلندرات ايطالية للدخول في المناقصات العامة 
                    للدولة وكذلك توزيعها على كافة شركات الالمنيوم داخل الكويت 
                    وكذلك سوف يتم التوزيع داخل قطاع الجمعيات التعاونية تسعى الشركة 
                    الى المحافظة على تميزها ونجاحها.ورغبة من الشركة في التطوير وتلبية 
                    لحاجة عملائنا في توفير أصناف السلندرات والاقفال الإيطالية فلقد رات 
                    الشركة البحث عن وكيل للمنتجات المذكورة.كما نسعى جاهدين لنغزو 
                    السوق الخليجي ونصل بمنتجاتنا و خدماتنا لتشمل جميع دول الخليج العربى 
                    وذلك بفتح مقر جديد للشركة فى كلا من ) الامارات-السعودية-قطر- 
                    البحرين(                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container my-5 text-center">
    <h3 class="text-2xl font-semibold mb-4"> الرخص و الشهادات معتمدة </h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white shadow-lg rounded-lg p-6">
            <img src="../../assets/5843753604568172497 (1).jpg" alt="شهادة معتمدة 1" class="w-full h-auto mb-4">
            <p class="font-medium text-lg">رخصة فال لممارسة النشاط العقاري </p>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-6">
            <img src="../../assets/5843753604568172496.jpg" alt="شهادة معتمدة 2" class="w-full h-auto mb-4">
            <p class="font-medium text-lg">شهادة عضوية من الشبكة الالكترونية لخدمات الايجار (ايجار) </p>
        </div>
        
    </div>
</div>
 -->